<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="SFA_SearchAPIEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VM-SFANCD-TSQL01\SFANCD_T,50000;initial catalog=SFA_SearchAPI;User ID=sfancd_t_owner;Password=S0fAN@tC$mfyDamn%t;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="IncludeUCASData" value="False" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel xdt:Transform="Replace">
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="IMS.NCS.CourseSearchService.CourseSearchService_Behavior" name="IMS.NCS.CourseSearchService.ServiceImplementation.CourseSearchService">
        <endpoint address="https://opendatatest.coursedirectoryproviderportal.org.uk/CourseSearchService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CustomerServiceInterface" behaviorConfiguration="DependencyInjectionEndpointBehavior" contract="Ims.Schemas.Alse.CourseSearch.Contract.ServiceInterface" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_CustomerServiceInterface" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <!--<message clientCredentialType="UserName" algorithmSuite="Default" /> -->
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IMS.NCS.CourseSearchService.CourseSearchService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpsGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="128" maxConcurrentSessions="800" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="DependencyInjectionEndpointBehavior">
          <dependencyInjectionEndpointBehavior containerName="wcfContainer" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
    <extensions>
      <behaviorExtensions>
        <add name="dependencyInjectionEndpointBehavior" type="IMS.NCS.CourseSearchService.Common.Unity.UnityEndpointBehaviorSection, IMS.NCS.CourseSearchService.Common, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>