@model Tribal.SkillsFundingAgency.ProviderPortal.Models.ProviderViewModel

<h4>@Model.ProviderName</h4>

<div>
    Put provider display in here
</div>

<hr />

@Html.DisplayFor(m => m.Venues, "_ListVenues")
