<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit link
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tribal.SkillsFundingAgency.ProviderPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="TFMProfiles" type="TinyFileManager.NET.ConfigProfiles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="__DefaultConnection__" providerName="System.Data.SqlClient" />
    <add name="ProviderPortalEntities" connectionString="metadata=res://Tribal.SkillsFundingAgency.ProviderPortal.Entities/Model.csdl|res://*/Model.ssdl|res://Tribal.SkillsFundingAgency.ProviderPortal.Entities/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;__ProviderPortalEntitiesConnection__&quot;" providerName="System.Data.EntityClient" />
    <add name="ProviderPortalDataWarehouseEntities" connectionString="metadata=res://Tribal.SkillsFundingAgency.ProviderPortal.DataWarehouse.Entities/Model.csdl|res://Tribal.SkillsFundingAgency.ProviderPortal.DataWarehouse.Entities/Model.ssdl|res://Tribal.SkillsFundingAgency.ProviderPortal.DataWarehouse.Entities/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;__ProviderPortalDataWarehouseEntitiesConnection__&quot;" providerName="System.Data.EntityClient" />
    <add name="SFA_SearchAPIEntities" connectionString="metadata=res://IMS.NCS.CourseSearchService.DatabaseContext/Model.csdl|res://IMS.NCS.CourseSearchService.DatabaseContext/Model.ssdl|res://IMS.NCS.CourseSearchService.DatabaseContext/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;__SFA_SearchAPIEntitiesConnection__&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- key name: LanguageInDeveloperMode - Sets the language system to over write all default text to that specified in the site code for ease of development, this key should not be deployed to live -->
    <add key="LanguageInDeveloperMode" value="true" />
    <add key="ServerFarmUrls" value="" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="UKRLP_Stakeholder_Id" value="1" />
    <add key="UKRLP_Url" value="http://webservices.ukrlp.co.uk/UkrlpProviderQueryWS/ProviderQueryServiceV3" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <authorization>
      <allow users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.5.2" />
    <!-- Max Request Length 20MB -->
    <httpRuntime maxRequestLength="20480" targetFramework="4.5" enableVersionHeader="false" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <!--<httpHandlers>
      <add verb="*" path="clear.cache" type="CacheManagement.CacheHandler, CacheManagement" />
    </httpHandlers>-->
    <customErrors mode="Off">
      <!--Avoid YSOD on 404/403 errors like this because [HandleErrors] does not catch them-->
      <error statusCode="404" redirect="/404-NotFound" />
      <error statusCode="403" redirect="/404-NotFound" />
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="RemoveServerHeader" type="Tribal.HttpModules.RemoveServerHeader" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="CacheManagement" path="*.cache" verb="*" type="Tribal.SkillsFundingAgency.CacheManagement.CacheHandler, Tribal.SkillsFundingAgency.CacheManagement, Version=1.0.0.0, Culture=neutral" />
      <add name="ApiURIs-ISAPI-Integrated-4.0-Files" path="/Content/Files/*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ApiURIs-ISAPI-Integrated-4.0-Thumbs" path="/Content/Thumbs/*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- Enable compression of both dynamic and static content -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <!-- Add the contents of httpCompression.dynamicTypes to the web server applicationhost.config file -->
    <!--
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    -->
    <httpProtocol>
      <customHeaders>
        <!-- Prevent frame embedding on foreign sites and click-jacking attacks -->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="Redirect links to the old site" stopProcessing="true">
          <match url="^pp(.*)" />
          <action type="Redirect" redirectType="Permanent" url="Home" />
        </rule>
        <rule name="Redirect content links" stopProcessing="true">
          <match url="^Content/(Help|Reports|SampleData|Webinars)/(.*)" />
          <action type="Redirect" redirectType="Permanent" url="Content/Files/{R:1}/{R:2}" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <!-- Max Request Length 20MB -->
        <requestLimits maxAllowedContentLength="20971520" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_BulkUploadWCFService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="BulkUploadWCFService" address="net.tcp://localhost:8088/BulkUploadWCFService/" binding="netTcpBinding" bindingConfiguration="netTcpBinding_BulkUploadWCFService" contract="BulkUploadWCFService.IBulkUploadWCFService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Tribal.SkillsFundingAgency.ProviderPortal.Properties.Settings>
      <setting name="Tribal_SkillsFundingAgency_ProviderPortal_uk_co_ukrlp_webservices_ProviderQueryServiceV3" serializeAs="String">
        <value>http://webservices.ukrlp.co.uk:80/UkrlpProviderQueryWS/ProviderQueryServiceV3</value>
      </setting>
    </Tribal.SkillsFundingAgency.ProviderPortal.Properties.Settings>
  </applicationSettings>
  <system.identityModel>
    <identityConfiguration saveBootstrapContext="false">
      <audienceUris mode="Always">
        <add value="https://dev.coursedirectoryproviderportal.org.uk/SA/SFANCD" />
      </audienceUris>
      <claimsAuthenticationManager type="Tribal.SkillsFundingAgency.ProviderPortal.Infrastructure.DefaultClaimsAuthenticationManager, Tribal.SkillsFundingAgency.ProviderPortal" />
      <certificateValidation certificateValidationMode="None" revocationMode="NoCheck" />
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
    </federationConfiguration>
  </system.identityModel.services>
  <location path="Address">
    <system.web>
      <!-- maxRequestLength is in kilobytes (KB)  -->
      <httpRuntime maxRequestLength="2048000" />
      <!-- 2GB -->
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- maxAllowedContentLength is in bytes (B)  -->
          <requestLimits maxAllowedContentLength="2097152000" />
          <!-- 2GB -->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="CodePoint">
    <system.web>
      <!-- maxRequestLength is in kilobytes (KB)  -->
      <httpRuntime maxRequestLength="51200" />
      <!-- 50MB -->
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- maxAllowedContentLength is in bytes (B)  -->
          <requestLimits maxAllowedContentLength="52428800" />
          <!-- 50MB -->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="LARS">
    <system.web>
      <!-- maxRequestLength is in kilobytes (KB)  -->
      <httpRuntime maxRequestLength="102400" />
      <!-- 100MB -->
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- maxAllowedContentLength is in bytes (B)  -->
          <requestLimits maxAllowedContentLength="104857600" />
          <!-- 100MB -->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="SiteContent">
    <system.web>
      <!-- maxRequestLength is in kilobytes (KB)  -->
      <httpRuntime maxRequestLength="1024000" />
      <!-- 1GB -->
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- maxAllowedContentLength is in bytes (B)  -->
          <requestLimits maxAllowedContentLength="1048576000" />
          <!-- 1GB -->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="UCASImport">
    <system.web>
      <!-- maxRequestLength is in kilobytes (KB)  -->
      <httpRuntime maxRequestLength="102400" />
      <!-- 100MB -->
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- maxAllowedContentLength is in bytes (B)  -->
          <requestLimits maxAllowedContentLength="104857600" />
          <!-- 100MB -->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <TFMProfiles>
    <profile name="Default">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','xml','ade','adp','ppt','pptx','zip','rar', 'odt', 'fodt', 'odp', 'fodp', 'ods', 'fods', 'odg', 'fodg'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma', 'flv', 'wmv'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid', 'fla'</AllowedMusicExtensions>
      <AllowedMiscExtensions />
      <UploadPath>Files</UploadPath>
      <ThumbPath>Thumbs</ThumbPath>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>100</MaxUploadSizeMb>
      <!-- For prod use this should be outside the web application -->
      <RootPath>D:\ESFAApps\Tribal.SkillsFundingAgency\ProviderPortal</RootPath>
      <RootURL>/Content</RootURL>
      <FillSelector />
      <PopupCloseCode />
    </profile>
    <profile name="NoTinyMCE">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','xml','ade','adp','ppt','pptx','zip','rar', 'odt', 'fodt', 'odp', 'fodp', 'ods', 'fods', 'odg', 'fodg'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma', 'flv', 'wmv'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid', 'fla'</AllowedMusicExtensions>
      <AllowedMiscExtensions />
      <UploadPath>Files</UploadPath>
      <ThumbPath>Thumbs</ThumbPath>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>100</MaxUploadSizeMb>
      <!-- For prod use this should be outside the web application -->
      <RootPath>D:\ESFAApps\Tribal.SkillsFundingAgency\ProviderPortal</RootPath>
      <RootURL>/Content</RootURL>
      <FillSelector>'#filename', window.opener.document</FillSelector>
      <PopupCloseCode>window.close();</PopupCloseCode>
    </profile>
  </TFMProfiles>
</configuration>