<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" connectionString="Data Source=ITS-DB01-S\MSSQL2014;Database=SFA_CourseDirectory;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ProviderPortalEntities" connectionString="metadata=res://Tribal.SkillsFundingAgency.ProviderPortal.Entities/Model.csdl|res://Tribal.SkillsFundingAgency.ProviderPortal.Entities/Model.ssdl|res://Tribal.SkillsFundingAgency.ProviderPortal.Entities/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ITS-DB01-S\MSSQL2014;initial catalog=SFA_CourseDirectory;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProviderPortalDataWarehouseEntities" connectionString="metadata=res://Tribal.SkillsFundingAgency.ProviderPortal.DataWarehouse.Entities/Model.csdl|res://Tribal.SkillsFundingAgency.ProviderPortal.DataWarehouse.Entities/Model.ssdl|res://Tribal.SkillsFundingAgency.ProviderPortal.DataWarehouse.Entities/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ITS-DB01-S\MSSQL2014;initial catalog=SFA_DataWarehouse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SFA_SearchAPIEntities" connectionString="metadata=res://IMS.NCS.CourseSearchService.DatabaseContext/Model.csdl|res://IMS.NCS.CourseSearchService.DatabaseContext/Model.ssdl|res://IMS.NCS.CourseSearchService.DatabaseContext/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ITS-DB01-S\MSSQL2014;initial catalog=SFA_SearchAPI;integrated security=True;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="Remove" xdt:Locator="Match(key)" key="LanguageInDeveloperMode"  />
  </appSettings>
  <system.web>
    <customErrors xdt:Transform="Replace" mode="Off">
      <!--Avoid YSOD on 404/403 errors like this because [HandleErrors] does not catch them-->
      <error statusCode="404" redirect="/404-NotFound" />
      <error statusCode="403" redirect="/404-NotFound" />
    </customErrors>
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="Redirect links to the old site" stopProcessing="true">
          <match url="^pp(.*)" />
          <action type="Redirect" redirectType="Permanent" url="Home" />
        </rule>
        <rule name="Redirect content links" stopProcessing="true">
          <match url="^Content/(Help|Reports|SampleData|Webinars)/(.*)" />
          <action type="Redirect" redirectType="Permanent" url="Content/Files/{R:1}/{R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <TFMProfiles>
    <profile xdt:Locator="Match(name)" name="Default">
      <RootPath xdt:Transform="Replace">D:\SFA-Provider-Portal-Import\FileStore</RootPath>
    </profile>
    <profile xdt:Locator="Match(name)" name="NoTinyMCE">
      <RootPath xdt:Transform="Replace">D:\SFA-Provider-Portal-Import\FileStore</RootPath>
    </profile>
  </TFMProfiles>
</configuration>