@model string

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@AppGlobal.Language.GetText(this, "HeaderParamName", "Name")</th>
            <th>@AppGlobal.Language.GetText(this, "HeaderParamDescription", "Description")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Split(','))
        {
            var parts = item.Trim().Split('=');
            <tr>
                <td>@parts[0]</td>
                <td>@parts[1]</td>
            </tr>
        }
    </tbody>
</table>