<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EnvironmentDisplayName" value="Public Search API on Production TEST" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding>
          <security mode="Transport" xdt:Transform="SetAttributes" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="CourseSearchService" address="https://opendatatest.coursedirectoryproviderportal.org.uk/CourseSearchService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>