@{
    ViewBag.Title = AppGlobal.Language.GetText(this, "Title", "Confirmation Email Sent");
}

<h2>@AppGlobal.Language.GetText(this, "Header", "Confirmation Email Sent")</h2>
<div>
    <p>
        @AppGlobal.Language.GetText(this, "Message", "Please check your email and confirm your email address.")
    </p>
</div>
