@{
    ViewBag.Title = AppGlobal.Language.GetText(this, "Title", "Login Failure");
}

<hgroup>
    <h2>@AppGlobal.Language.GetText(this, "Header", "Login Failure.");</h2>
    <h3 class="text-danger">@AppGlobal.Language.GetText(this, "Message", "Unsuccessful login with service.")</h3>
</hgroup>
