@{
    ViewBag.Title = AppGlobal.Language.GetText(this, "Title", "Forgot Password Confirmation");
}

<hgroup class="title">
    <h1>@AppGlobal.Language.GetText(this, "Header", "Forgot Password Confirmation")</h1>
</hgroup>
<div>
    <p>
        @AppGlobal.Language.GetText(this, "Message", "Please check your email to reset your password.")
    </p>
</div>
	
