@{
    ViewBag.Title = AppGlobal.Language.GetText(this, "Title", "Registration Unavailable");
}

<h2>@AppGlobal.Language.GetText(this, "Header", "Registration Unavailable")</h2>
<div>
    <p>
        @AppGlobal.Language.GetText(this, "Message", "Self-registration of new accounts is currently unavailable.")
    </p>
</div>
