@{
    ViewBag.Title = AppGlobal.Language.GetText(this, "Title", "Reset Password Confirmation");
}

<hgroup class="title">
    <h1>@AppGlobal.Language.GetText(this, "Header",  "Reset Password Confirmation")</h1>
</hgroup>
<div>
    <p>
    @AppGlobal.Language.GetText(this, "MessageOpening", "Your password has been reset. Please ")
    @Html.ActionLink(AppGlobal.Language.GetText(this, "MessageLinkText", "click here to log in"), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    @AppGlobal.Language.GetText(this, "MessageClosing", ".")
    </p>
</div>
