<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <system.webServer>
    <!-- Enable the following section on the live servers and any other server using SSL / URL Rewriter 2.0 -->
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off"/>
            <!--<add input="{REQUEST_URI}" pattern="^/Report/ProviderDashboard" negate="true"/>-->
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
	</rewrite>	
    <httpProtocol>
      <customHeaders>
        <!-- Prevent frame embedding on foreign sites and click-jacking attacks -->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
