<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSOAPBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.coursedirectoryproviderportal.org.uk/Search/ServiceV1"
                binding="basicHttpBinding" bindingConfiguration="ServiceSOAPBinding"
                contract="Ims.Schemas.Alse.CourseSearch.Contract.ServiceInterface"
                name="ServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>