<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://esfacoursedirectory.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>esfacoursedirectory.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>esfacoursedirectory</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$esfacoursedirectory</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tribal.SkillsFundingAgency.ProviderPortal.Models.ApplicationDbContext, Tribal.SkillsFundingAgency.ProviderPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IMS.NCS.CourseSearchService.DatabaseContext.SFA_SearchAPIEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IMS.NCS.CourseSearchService.DatabaseContext.SFA_SearchAPIEntities, IMS.NCS.CourseSearchService.DatabaseContext" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Tribal.SkillsFundingAgency.ProviderPortal.DataWarehouse.Entities.ProviderPortalDataWarehouseEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tribal.SkillsFundingAgency.ProviderPortal.DataWarehouse.Entities.ProviderPortalDataWarehouseEntities, Tribal.SkillsFundingAgency.ProviderPortal.DataWarehouse.Entities" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProviderPortalEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tribal.SkillsFundingAgency.ProviderPortal.Entities.ProviderPortalEntities, Tribal.SkillsFundingAgency.ProviderPortal.Entities" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IMS.NCS.CourseSearchService.DatabaseContext.SFA_SearchAPIEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProviderPortalEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Tribal.SkillsFundingAgency.ProviderPortal.DataWarehouse.Entities.ProviderPortalDataWarehouseEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="IMS.NCS.CourseSearchService.DatabaseContext.SFA_SearchAPIEntities" />
    <_ConnectionStringsToInsert Include="Tribal.SkillsFundingAgency.ProviderPortal.DataWarehouse.Entities.ProviderPortalDataWarehouseEntities" />
  </ItemGroup>
</Project>