@{
    Layout = "";
}
<div style="color: red;">
    @Html.Raw(AppGlobal.Language.GetText(this, "UnableToCreateLocationProviderContextChanged", "Unable to create a new location.  The provider context has changed."))
</div>

